{%extends 'base.html'%}
{%block main%}
    <h1>customers</h1>
    <table class="table  table-hover">
        <thead>
            <th>Name</th>
            <th>phone</th>
            <th>Email</th>
        </thead>
        <tbody>
            {% for customer in customers%}
            <tr>
                <td>{{customer.first_name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phone}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}