{%extends 'base.html'%}
{%block main%}
    <h1>products list</h1>  
    <table class="table  table-hover">
        <thead>
            <th>Name</th>
            <th>Price</th>
            <th>Stock</th>
        </thead>
        <tbody>
            {% for product in products%}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.stock}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}